# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
ENV/
env.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
dist/
build/
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test output
htmlcov/
.tox/
.nox/
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# VSCode
.vscode/

# PyCharm
.idea/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# profiling
.prof
*.pstats

# Logs
*.log

# dotenv
.env

# Distribution / packaging
*.egg
*.egg-info/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.manifest
*.spec
*.egg-info/
.installed.cfg
*.eggs

# Unit test / coverage reports
.coverage
*.cover
*.py,cover

# Sphinx documentation
docs/_build/
